body {
  background-color: #191919;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
}

/*Header styles-------------------*/
header {
  background-color: RGB(235, 51, 0, 0.8);
  width: 100%;
  height: 75px;
  text-align: center;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

header:hover {
  background-color: RGB(235, 51, 0, 0)
}



header h1 {
  position: absolute;
  font-size: 3em;
  margin: auto;
  color: white;
}

#profile {
  position: relative;
  width: 33%;
  object-fit: inherit;
  float: left;
  z-index: -1;
}

#choco {
  position: relative;
  width: 33%;
  bottom: 10%;
  object-fit: inherit;
  z-index: -1;
}

#bridge {
  position: relative;
  width: 33%;
  bottom: 10%;
  object-fit: inherit;
  top: 35%;
  z-index: -1;
}

/*Landing Image styles------------*/
#landing {
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: 1;
}

/*Main styles-----------------*/
main {
  display: flex;
}

.sections {
  width: 25%;
  height: 200px;
  background-color: #F0F0F0;
  text-align: center;
  margin: 10px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  opacity: 0.7;
  transition: 0.3s;
}

.sections:hover {
  opacity: 1;
}

.workUl {
  padding: 5px;
  text-align: left;
}

.workLi {
  list-style-type: square;
  margin-left: 10%;
}

.sections p {
  padding: 20px;
}

.headBoxes {
  width: 100%;
  height: 20%;
  color: white;
  font-size: 1.5em;
}

/*List of top 10---------------------------------------------------*/
#last {
  margin: auto;
}

#top10 {  /*OL*/
  text-align: left;
}

#top10 li { /*LI's*/
  list-style-type: number;
  margin-left: 40%;
}

/*Footer -------------------------------------------------------------*/
footer {
  margin-top: 3%;
  width: 100%;
  color: white;
  text-align: center;
}